.box-master{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 75px;
    border: transparent;
    background-color: #EBEFF5;
    width: 23rem;
    height: 42rem;
    padding: 20px;
}
.box-master h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
    align-self: start;
    padding-bottom: 12px;
}
.card{
    width: 21rem;
    padding: 15px;
    border: transparent;
    border-top: 6px solid blue;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 170px;
    height: 170px;
    border: 6px solid #ccc;
    border-radius: 50%;
    margin-bottom: 15px;
}

.format-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.format-box img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.format-title h3{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.format-title h5{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.6;
}

span h5{
    color: #189ee6;
}
.format-button{
    margin-top: 15px;
    height: 3rem;
    padding: 10px;
 }

span p{
    font-size: 20px;
    font-weight: bold;
}

.link{
    display: flex;
    justify-content: end;
    margin: 20px;
}